body {
	background: gray;
}
div.container {
	margin: 40px auto;
	overflow: auto;
	width: 675px;
	background: rgba(255,255,255,.5);
	padding: 20px;
}
div.first, div.fifth {
	width: 600px;
	padding: 25px;
	clear: left;
	margin: 0 auto;
}
div.first {
	background: red;
	border: orange 4px dotted;
	height: 300px;
}
div.second, div.third, div.fourth {
	width: 200px;
	height: 200px;
	padding: 5px;
	border: yellow solid 2px;
	float: left;
	margin: 20px 16px 20px 0;
}
div.second {
	background: purple;
}
div.third {
	background: green;
}
div.fourth {
	background: blue;
	margin-right: 0;
}
div.fifth {
	background: yellow;
	border: red 2px double;
	height: 100px;
}